<%- include("partials/header"); %>

<div class="jumbotron">
    <div class="container">
        <h1>About</h1>
        <ul>
            <li>
                As part of <strong>Angela Yu's Web Development Udemy</strong> course, I created a Daily Journal project with EJS and ExpressJS. 
            </li>
            <li>
                In order to practice those skills, I created this project.
            </li>
            <li>
                I used a Bootstrap template so I could focus on the BE skills rather than on the CSS styling.
            </li>
        </ul>
    </div>
</div>

<%- include("partials/footer"); %>
