<%- include("partials/header"); %>

<main role="main">

	<!-- Main jumbotron for a primary marketing message or call to action -->
	<div class="jumbotron">
		<div class="container">
			<h1 class="display-3">Hello!</h1>
			<p>This is a simple project I created in order to practice ejs and express.js.</p>
			<p><a class="btn btn-dark btn-lg" href="/about" role="button">Learn more &raquo;</a></p>
		</div>
	</div>
</main>

<div class="col-md-6">
	<div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
		<div class="col p-4 d-flex flex-column position-static">
			<h3 class="mb-0">To Do</h3>
			<div class="mb-1 text-muted">July 25th</div>
			<p class="card-text mb-auto">Don't forget to do the laundry, send the scholarship email, and get back to Olivia.</p>
			<a href="#" class="stretched-link">Continue reading</a>
		</div>
		<div class="col-auto d-none d-lg-block">
			<svg class="bd-placeholder-img" width="200" height="250" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#55595c"/><text x="50%" y="50%" fill="#eceeef" dy=".3em">Thumbnail</text></svg>

		</div>
	</div>
</div>

<%- include("partials/footer"); %>
