<%- include("partials/header"); %>

<p>Title</p>

<input type="text" class="form-control" aria-describedby="basic-addon1">

<p>Body</p>

<textarea class="form-control" aria-label="With textarea"></textarea>

<button type="button" class="btn btn-dark">Post</button>

<%- include("partials/footer"); %>
