<%- include("partials/header"); %>

<h1>New Entry</h1>

<form class="item" action="/new" method="post">
    <div>
        <p><strong>Title</strong></p>
        <input name="postTitle" type="text" class="form-control" aria-describedby="basic-addon1">
        
        <br/>

        <p><strong>Date</strong></p>
        <input name="postDate" type="text" class="form-control" aria-describedby="basic-addon1">
        
        <br/>
        
        <p><strong>Body</strong></p>
        <textarea name="postBody" class="form-control" aria-label="With textarea" cols="100" rows="5"></textarea>
        
        <br/>
    </div>
    <br/>
    <button type="submit" class="btn btn-dark" name="button">Post</button>
</form>

<%- include("partials/footer"); %>
